<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-impresora-bixolon-newsdk"
    version="1.0.0">
    <name>Cordova Plugin Impresora Bixolon New SDK</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        
        <clobbers target="ImpresoraBixolon" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="ImpresoraBixolon">
          <param name="android-package" value="com.example.ImpresoraBixolon" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/example/ImpresoraBixolon.java" target-dir="src/com/example/" />
	  <source-file src="src/android/com/example/libs/bixolon_printer_v121.jar" target-dir="libs" framework="true"/>
	  <source-file src="src/android/com/example/libs/jpos114-controls.jar" target-dir="libs" framework="true"/>
	  <source-file src="src/android/com/example/libs/xerces.jar" target-dir="libs" framework="true"/>
    </platform>

</plugin>
